<!DOCTYPE html>
<html lang="en">
<head>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
<script src="//use.edgefonts.net/poiret-one.js"></script>
<script src="//use.edgefonts.net/muli:n3,n4.js"></script>
  <title>Survey Octopus</title>
</head>
<body>
  <nav>
    <span class="brand"><img src="/img/octopus.jpg" height="80" border="0"><a href="/">Survey Octopus</a></span>
    <ul id="session-controls">
      <% unless logged_in? %>
        <li><a href="/">Login</a></li>
      <% end %>
      <% if logged_in? %>
        <li><a href="/logout">Logout</a></li>
      <% end %>
    </ul>
  </nav>
  <%= yield %>
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
