<div class="container">
 <div class="creation">
  <form id="myForm" action="/create" method="post">
    <div class="create_title"><label>Enter title:</label>
    <input type="text" name="title" placeholder="Title" autofocus required=true></div>
    <div id='controls'><a href='#' class="addQuestion" >Add Question!</a>
    </div>
    <div id="questionField">
    </div>
    <div class="button_new_survey"><input type='submit' value='Create'></div>
  </form>
</div>
</div>

