<div class="container">
  <div id='controls'>
    <a href='#' class="addQuestion" >Add Question!</a>
       
  </div>
  <form id="myForm" action="/create" method="post">

    <p><label> Title</label></p>
    <p><input type="text" name="title" placeholder="title" autofocus></p>
    <input id="sub_form" type='submit' />
    <div id="questionField">
      <div class="question">
        <a href='#' class="addField" >Add choice!</a> 
      </div>
    </div>
  </form>
</div>
