<div class="container">
  <div id='controls'>
    <a href='#' class="addQuestion" >Add Question!</a>
       
  </div>
  <form id="myForm" action="/create" method="post">

    <p><label> Title</label></p>
    <p><input type="text" name="title" placeholder="title" autofocus required=true></p>
    <input type='submit' value='create survey'>
    <div id="questionField">
    </div>
  </form>
</div>
