<div class="container">

<!-- AUTHOR COLUMN -->
<div class="author">
  <!-- CREATE NEW SURVEY -->
  <form action="/create" method="get">
    <input type='submit'>
  </form>
 <!-- VIEW YOUR SURVEYS -->
  <table>
    <% current_user.surveys.each do |survey| %>
      <tr>
        <%= erb :_survey_render, :layout => false, :locals => { survey: survey }  %>
      </tr>
    <% end %>
  </table>
</div>

<!-- RESPONDENT COLUMN -->
<div class="respondent">
  
</div>
</div>
