<div class="container">
 <!-- AUTHOR COLUMN -->
 <div class="author_column">
  <h1>My surveys</h1>
    <table>
      <% @surveys.find_all_by_user_id(current_user.id).each do |survey| %>
        <tr>
          <%= erb :_survey_render, :layout => false, :locals => { survey: survey } %>
        </tr>
      <% end %>
    </table>  
    <form action="/create" method="get">
      <input type='submit' value="Create">
    </form>
  </div>

  <!-- RESPONDENT COLUMN -->
  <div class="respondent_column"> 
  <h1>All surveys</h1>
    <!-- VIEW SURVEYS TO TAKE -->
    <table>
      <% @surveys.each do |survey| %>
        <tr>
          <%= erb :_survey_render, :layout => false, :locals => { survey: survey } %>
        </tr>
      <% end %>
    </table>
  </div>

</div>
