<div class="container">

  <!-- AUTHOR COLUMN -->
  <h1>AUTHOR</h1>
  <div class="author">
    <!-- CREATE NEW SURVEY -->
    <form action="/create" method="get">
      <input type='submit' value="create new survey">
    </form>
   <!-- VIEW SURVEYS AUTHORED -->
    <table>
      <% @author_surveys.each do |survey| %>
        <tr>
          <%= erb :_survey_render, :layout =>  false, :locals => { survey: survey } %>
        </tr>
      <% end %>
    </table>  
  </div>

  <!-- RESPONDENT COLUMN -->
  <h1>RESPONDENT</h1>
  <div class="respondent">
    <!-- VIEW SURVEYS TO TAKE -->
    <table>
      <% @all_surveys.each do |survey| %>
        <tr>
          <%= erb :_survey_render, :layout =>  false, :locals => { survey: survey } %>
        </tr>
      <% end %>
    </table>
  </div>

</div>
