<div id="wavecontainer">
    <div class="waves fore">
      <div class="waveleft"><div class="inner"></div></div>
      <div class="waveright"><div class="inner"></div></div>
      <div class="waveleft"><div class="inner"></div></div>
      <div class="waveright"><div class="inner"></div></div>
      <div class="waveleft"><div class="inner"></div></div>
      <div class="waveright"><div class="inner"></div></div>
      <div class="waveleft"><div class="inner"></div></div>
      <div class="waveright"><div class="inner"></div></div>
      <div class="waveleft"><div class="inner"></div></div>
      <div class="waveright"><div class="inner"></div></div>
      <div class="waveleft"><div class="inner"></div></div>
      <div class="waveright"><div class="inner"></div></div>
      <div class="waveleft"><div class="inner"></div></div>
      <div class="waveright"><div class="inner"></div></div>
      <div class="waveleft"><div class="inner"></div></div>
      <div class="waveright"><div class="inner"></div></div>
      <div class="waveleft"><div class="inner"></div></div>
      <div class="waveright"><div class="inner"></div></div>
      <div class="waveleft"><div class="inner"></div></div>
      <div class="waveright"><div class="inner"></div></div>
      <div class="waveleft"><div class="inner"></div></div>
      <div class="waveright"><div class="inner"></div></div>
      <div class="waveleft"><div class="inner"></div></div>
    </div>
    <div class="waves back">
      <div class="waveright"><div class="inner"></div></div>
      <div class="waveleft"><div class="inner"></div></div>
      <div class="waveright"><div class="inner"></div></div>
      <div class="waveleft"><div class="inner"></div></div>
      <div class="waveright"><div class="inner"></div></div>
      <div class="waveleft"><div class="inner"></div></div>
      <div class="waveright"><div class="inner"></div></div>
      <div class="waveleft"><div class="inner"></div></div>
      <div class="waveright"><div class="inner"></div></div>
      <div class="waveleft"><div class="inner"></div></div>
      <div class="waveright"><div class="inner"></div></div>
      <div class="waveleft"><div class="inner"></div></div>
      <div class="waveright"><div class="inner"></div></div>
      <div class="waveleft"><div class="inner"></div></div>
      <div class="waveright"><div class="inner"></div></div>
      <div class="waveleft"><div class="inner"></div></div>
      <div class="waveright"><div class="inner"></div></div>
      <div class="waveleft"><div class="inner"></div></div>
      <div class="waveright"><div class="inner"></div></div>
      <div class="waveleft"><div class="inner"></div></div>
      <div class="waveright"><div class="inner"></div></div>
      <div class="waveleft"><div class="inner"></div></div>
    </div>
    </div>
